<script>
  $("#header-center").hide();
</script>

<div class="contents row">
  <h2>プロフィール</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :"フルネーム" %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :"メールアドレス" %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :"プロフィール画像" %><br />
      <%= f.file_field :avatar %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label "新しいパスワード" %><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <!-- <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %> -->
    </div>

    <div class="field">
      <%= f.label :"新しいパスワード(確認)" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <!-- <div class="field">
      <%= f.label :"現在のパスワード" %><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div> -->

    <div class="actions">
      <%= f.submit "変更する" %>
    </div>
  <% end %>

  <!-- <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->

  <div id="back">
    <%= link_to "戻る", :back %>
  </div>
</div>

<script>
  // サイドメニュー開閉処理
  $(function (){
    var $body = $('body');
    $('#toggle').on('click', function () {
      $('.side-menu').show();
      $body.toggleClass('side-open');
    });
    $('#js__overlay').on('click', function () {
      $body.toggleClass('side-open');
    });
    $('.wrapper').on('transitionend', function(){
      if(!($body.hasClass('side-open'))){
        $('.side-menu').hide();
      }
    });
  });
</script>
