<div class="contents row">
  <div class="title">
    <h2>Sign up</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <!-- <%= f.label :Name %><br /> -->
      <%= f.text_field :name, autofocus: true, placeholder: "名前(フルネーム)" %>
    </div>

    <div class="field">
      <!-- <%= f.label :email %><br /> -->
      <%= f.email_field :email, placeholder: "メールアドレス" %>
    </div>

    <div class="field">
      <!-- <%= f.label :password %> -->
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード" %>
    </div>

    <div class="field">
      <!-- <%= f.label :password_confirmation %><br /> -->
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "パスワード(確認)" %>
    </div>

    <div class="field">
      <%= f.label :Image %><br />
      <%= f.file_field :avatar %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <div class="sns_login">
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to(omniauth_authorize_path(resource_name, provider), class: "FbBtn" ) do %>
        <div class="FbBtnLabel">Facebookでログイン</div>
      <% end %>
    <% end %>
  </div>
  <!-- <%= render "devise/shared/links" %> -->
</div>
