<script>
  $("#header-center").hide();
</script>

<div class="contents row">
  <div class="title">
    <h2>新規登録</h2>
  </div>

  <div class="display-required">
    <p>* は必須です</p>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :"フルネーム *" %><br />
      <%= f.text_field :name, autofocus: true, placeholder: "フルネーム" %>
    </div>

    <div class="field">
      <%= f.label :"メールアドレス *" %><br />
      <%= f.email_field :email, placeholder: "メールアドレス" %>
    </div>

    <div class="field">
      <%= f.label :"パスワード(6文字以上) *" %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード" %>
    </div>

    <div class="field">
      <%= f.label :"パスワード確認 *" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "パスワード(確認)" %>
    </div>

    <div class="field">
      <%= f.label :"プロフィール画像" %><br />
      <%= f.file_field :avatar %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録" %>
    </div>
  <% end %>

  <div class="sns_login">
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to(omniauth_authorize_path(resource_name, provider), class: "FbBtn" ) do %>
        <div class="FbBtnLabel">Facebookでログイン</div>
      <% end %>
    <% end %>
  </div>

  <div id="back">
    <%= link_to "戻る", :back %>
  </div>
  <!-- <%= render "devise/shared/links" %> -->
</div>

<script>
  // サイドメニュー開閉処理
  $(function (){
    var $body = $('body');
    $('#toggle').on('click', function () {
      $('.side-menu').show();
      $body.toggleClass('side-open');
    });
    $('#js__overlay').on('click', function () {
      $body.toggleClass('side-open');
    });
    $('.wrapper').on('transitionend', function(){
      if(!($body.hasClass('side-open'))){
        $('.side-menu').hide();
      }
    });
  });
</script>
