<div class="infowindow">
  <%= form_for @tweet do |f| %>
    <% if top_tweeted == true %>

      <div class="tweet">
        <div id="updated_at">
          <p><%= @tweet.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></p>
        </div>
        <div id="user-info">
          <div id="user-avatar">
            <% if @tweet.user.provider == "facebook" %>
              <% if @tweet.user.avatar.blank? %>
                <%= image_tag  @tweet.user.fb_avatar %>
              <% else %>
                <%= image_tag  @tweet.user.avatar %>
              <% end %>
            <% else %>
              <% if @tweet.user.avatar.blank? %>
                <%= image_tag  "no_image.jpg" %>
              <% else %>
                <%= image_tag  @tweet.user.avatar %>
              <% end %>
            <% end %>
          </div>
          <div id="user-name">
            <p><strong><%= @tweet.user.name %></strong></p>
          </div>
        </div>
      </div>

    <% else %>

      <div class="new_tweet">
        <% if is_top != true %>
          <div class="delete-link">
            <%= link_to image_tag('garbage.jpeg', {:size => '16x16', :alt => '削除'}), "/tweets/#{@tweet.id}", method: :delete %>
          </div>
        <% end %>

        <div id="crowd_label">
          <%= f.label "混み具合" %><br>
        </div>
        <%= f.radio_button :is_crowd, 1, {:checked => true} %><%= f.label :crowd_1, "混んでる" %>
        <%= f.radio_button :is_crowd, 0 %><%= f.label :crowd_2, "空いてる" %><br><br>

        <% if is_top == true %>
          <%= f.hidden_field :latitude, :id => "js_latitude", :value => 0 %>
          <%= f.hidden_field :longitude, :id => "js_longitude", :value => 0 %>
          <%= f.submit "投稿する", class: "btn btn-primary withripple", :id => "submit" %>
        <% else %>
          <%= f.hidden_field :id, :value => @tweet.id %>
          <%= f.submit "変更内容を保存", class: "btn btn-primary withripple", :id => "submit" %>
        <% end %>
      </div>

    <% end %>
  <% end %>

</div>
