<!-- <h4>Crowd Tweet</h4> -->
<p>住所：</p>
<%= form_for @tweet do |f| %>
  <%= f.hidden_field :latitude, :id => "js_latitude", :value => 0  %>
  <%= f.hidden_field :longitude, :id => "js_longitude", :value => 0  %>
  <%= f.label "混雑状況" %><br>
  <%= f.radio_button :is_crowd, 1 %><%= f.label :crowd_1, "混んでる" %>
  <%= f.radio_button :is_crowd, 0 %><%= f.label :crowd_2, "空いてる" %><br><br>
  <%= f.submit "投稿する", class: "btn btn-primary withripple", :id => "submit" %>
<% end %>
