<div class="contents row">
  <h2>ログイン</h2>
  <% if alert %>
    <p class="alert alert-notice"><%= alert %></p>
  <% end %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <!-- <%= devise_error_messages! %> -->

    <div class="field">
      <%= f.label :"メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス" %>
    </div>

    <div class="field">
      <%= f.label :"パスワード" %><br />
      <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>

    <!-- <div class="sub_button">
      <div class="field" id="login_remember">
        <%= f.check_box :remember_me %>
        <%= f.label :"ログイン状態を保存" %>
      </div>

      <div id="forget_password">
        <%= link_to "パスワードを忘れた方", new_password_path(resource_name) %><br />
      </div>
    </div> -->

  <% end %>

  <div class="sns_login">
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to(omniauth_authorize_path(resource_name, provider), class: "FbBtn" ) do %>
        <div class="FbBtnLabel">Facebookでログイン</div>
      <% end %>
    <% end %>
  </div>

  <div id="back">
    <%= link_to "戻る", :back %>
  </div>
  <!-- <%= render "devise/shared/links" %> -->
</div>
